// more 按鈕
.moreBtn{
    width: 132px;
    height: 35px;
    font-size: 18px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        background: #E6553B;
        color: $white;
    }
}
.triangle{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 16px 16px;
    border-color: transparent transparent #E6553B transparent;
}