.text-vertical-lr{
    writing-mode: vertical-lr;
}

// Recommend 推薦系列
.recommend-title{
    @include screen-lg{
        font-size: 48px;
    }
}
.recommend-img-01{
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-202207/art01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include screen-sm{
        width: 100%;
        height: 238px;
    }
    @include screen-md{
        height: 320px;
    }
    @include screen-lg{
        width: 756px;
        height: 500px;
    }
}
.recommend-img-02{
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-202207/art02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include screen-sm{
        width: 100%;
        height: 238px;
    }
    @include screen-md{
        height: 320px;
    }
    @include screen-lg{
        height: 340px;
    }
}
.recommend-img-03{
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week8-202207/art21.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include screen-sm{
        width: 100%;
        height: 238px;
    }
    @include screen-md{
        height: 320px;
    }
    @include screen-lg{
        height: 340px;
    }
}

// Ranking 市價排行榜
.ranking-img{
    width: 87px;
    height: 91px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    @include screen-lg{
        width: 100%;
        height: 374px;
        position: relative;
    }
}
.ranking{
    width: 70%;
    @include screen-md{
        width: 82%;
    }
    @include screen-lg{
        width: 100%;
    }
}
.tag-number{
    width: 38px;
    text-align: center;

    @include screen-lg{
        position: absolute;
        z-index: 99;
        width: 64px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }
}
.number{
    width: 38px;
    text-align: center;
}
.ranking-img-01{
    width: 87px;
    height: 91px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

// Artist 熱門藝術家
.bg-slider{
    position: relative;
    overflow:hidden;

    @include screen-lg{
        height: 439px;
        padding: 100px 0 100px;
    }
}

// Swiper
.artist{
    .swiper {
        position: relative;
        width: 100%;
        height: 100%;
        overflow:visible;
    
    }
    .swiper-slide {
        position: relative;
        text-align: center;
        font-size: 18px;
        background: #fff;
    
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    
        img{
            display: block;
            width: 100%;
            height: 220px;
            object-fit: cover;
            filter: grayscale(100%);
    
            @include screen-md{
                height: 300px;
            }
            @include screen-lg{
                height: 262px;
            }
        }
        &-active{
            z-index:2;
            img{
                filter: none;
                @include screen-lg{
                    transform:scale(1.5);
                }
            }
        }
    }
    .swiper-pagination-bullet{
        width: 8px;
        height: 8px;
        opacity: 1;
        border-radius: 0;
        &-active{
            width: 16px;
            background-color: #E6553B;
            border-radius: 0;
        }
    }
    .swiper-pagination{
        @include screen-lg{
          bottom: 0;
        }
    }
}
.name{
    display: none;
    color: white;
    font-size: 32px;
    z-index: 10;
    position: absolute;
    top: 20px;
    left: 20px;

    @include screen-lg{
        top: -70px;
        left: -80px;
        text-align: start;
        line-height: 1.2;
        font-size: 80px;
    }

}
.text{
    display: none;
    position: absolute;
    background-color: white;
    opacity: 0.8;
    text-align: start;

    @include screen-lg{
       
        bottom: -70px;
        left: -70px;
        padding: 24px;
        width: 300px;
    }
}
.swiper-slide-active{
    .name{
        display: block;
    }
    .text{
        display: block;
    }
}

// Artwork 最新藝術品
.artwork{
    position: relative;

    li:hover{
        .img-bg-info{
            background: rgba(0,0,0,0.7);
            display: block;
        }
    }

    li:nth-child(1){
        img{
            height: 139px;
            @include screen-lg{
                height: 254px;
            }
        }
    }
    li:nth-child(2){
        img{
            height: 151px;
            @include screen-lg{
                height: 327px;
            }
        }
    }
    li:nth-child(3){
        img{
            height: 93px;
            @include screen-lg{
                height: 254px;
            }
        }
    }
    li:nth-child(4){
        img{
            height: 173px;
            @include screen-lg{
                height: 169px;
            }
        }
    }
    li:nth-child(5){
        img{
            height: 192px;
            @include screen-lg{
                height: 174px;
            }
        }
    }
    li:nth-child(6){
        img{
            height: 99px;
            @include screen-lg{
                height: 254px;
            }
        }
    }
    li:nth-child(7){
        img{
            @include screen-lg{
                height: 359px;
            }
        }
    }
    li:nth-child(8){
        img{
            @include screen-lg{
                height: 254px;
            }
        }
    }
}
.img-text{
    font-size: 14px;
    @include screen-lg{
        border-bottom: 1px solid black;
        font-size: 16px;
        font-weight: bold;
    }
}
.img-bg{
    @include screen-lg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 16px;
    }
}
.img-bg-info{
    @include screen-lg{
        color: $white;
        height: 100%;
        padding: 16px;
        border: 1px solid $white;
        overflow: hidden;
        display: none;
    }
}